<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Gracious Givers</h2>
        <h3>Most trusted Online Donation Platform</h3>
        <p class="text-justify">We are India's most trusted and transparent crowdfunding platform, with a vision to create a social impact. Our unique model allows people from across the globe to donate towards raising funds for products required by NGOs and charities in India, which are then delivered to them by us.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: black;">Quick Links</h6>
        <ul class="footer-links">
          <li><a href="aboutUs.ejs">About Us</a></li>
          <li><a href="contactUs.ejs">Contact Us</a></li>
          <li><a href="index.ejs#services">Services</a></li>
          <li><a href="Donate.ejs">Donate Now</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: black;">Mission</h6>
        <ul class="footer-links">
          <li>Meal and Ration</li>
          <li>Educational Scholarships</li>
          <li>Oxygen SOS</li>
          <li>Old lives matter</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-sm-12 col-xs-12">
            <div class="card p-3 p-md-4 text-white"> <span><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i></span>
                <h5 class="my-3" > Subscribe to the newsletter <br> <span style=color:black> Weekly Dose of inspiration delivered straight to your inbox.</span> </h6>
                <div class="row d-flex my-2 pr-2 pr-md-5 div1">
                    <div class="col-9"> <input type="email" class="form-control py-3" id="inp1" placeholder="Enter email address"/> </div>
                    <div class="col-3 px-0"> <button class="btn-newsletter  px-4 py-2"> OK </button> </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
     <a href="http://www.linkedin.com/in/vishruta-patil-30106b204">Vishruta Patil</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>