<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracious Givers</title>
    <link rel="stylesheet" href="aboutUs.css">
</head>
<body>
    <%- include("partials/header"); -%>
    <div class = "about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <h2>Most trusted Online Donation Platform</h2>
            <div class="text">
                We are India's most trusted and transparent crowdfunding platform, with a vision to create a social impact. Our unique model allows people from across the globe to donate towards raising funds for products required by NGOs and charities in India, which are then delivered to them by us.
            
            <p>We do that by bringing together the people who want to give and the organizations that work to make a difference.</p>
            <div class=message>
                "The idea Of GRACIOUS GIVERS is to serve the needy people and aware the society to help the needy people. Our community also want to break the unnecesarry streotypes of the society. Our Aim is to bring hapiness in every family of India."
            </div>
            <p>The consequences of poverty are manifold and it impacts families through generations. An intervention at the right time, like educating one generation or providing livelihood to increase income can help families break the cycle of generational poverty.
                India is population rich. Our people are our resources and if each one of us commits to giving regularly, we will be strong enough to solve our problems. We could even be audacious enough to say that we as a community may not need any aid if we make giving a way of life.</p>
        </div>         
        </div>
    </div>
    <%- include("partials/footer"); -%>    
</body>
</html>